

<div class="wrapper">

    
    
    <main>
    <div class="container">
    <div class="row">
    
    
    <div class="col-md-12 entry">
    
    <div class="eb-stepline">
    <div class="eb-stepline-steps">
    <div class="eb-stepline-step completed ">
    <div class="eb-stepline-progress">
    <div class="eb-stepline-progress-bar"></div>
    </div>
    <div class="eb-stepline-dot"></div>
    <div class="text-center bs-wizard-stepnum">Search</div>
    <div class="bs-wizard-info text-center">Choose your favorite room</div>
    </div>
    <div class="eb-stepline-step completed">
    <div class="eb-stepline-progress">
    <div class="eb-stepline-progress-bar"></div>
    </div>
    <div class="eb-stepline-dot"></div>
    <div class="text-center bs-wizard-stepnum">Booking</div>
    <div class="bs-wizard-info text-center">Enter your booking details</div>
    </div>
    <div class="eb-stepline-step completed active">
    <div class="eb-stepline-progress">
    <div class="eb-stepline-progress-bar"></div>
    </div>
    <div class="eb-stepline-dot"></div>
    <div class="text-center bs-wizard-stepnum">Checkout</div>
    <div class="bs-wizard-info text-center">Use your preferred payment method</div>
    </div>
    <div class="eb-stepline-step disabled">
    <div class="eb-stepline-progress">
    <div class="eb-stepline-progress-bar"></div>
    </div>
    <div class="eb-stepline-dot"></div>
    <div class="text-center bs-wizard-stepnum">Confirmation</div>
    <div class="bs-wizard-info text-center">Receive a confirmation email</div>
    </div>
     </div>
    </div>
    <div class="checkout-details">
    <h4 class="title">Booking Details</h4>
    <div class="row">
    
    <div class="col-md-4">
    <p><strong>Full Name :</strong> sami aloui</p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Email :</strong> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="592a38383430773835362c30193e34383035773a3634">[email&#160;protected]</a></p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Phone :</strong> +21624760337</p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Address :</strong> cité wahat tunis 45 rue khaled ibn elwalid, 2045, tunis, Tunisie</p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Room :</strong> Single Room</p>
    </div>
    <div class="col-md-4">
    <p><strong>Branch :</strong> Zante Greece</p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Check In/Out :</strong> 16/04/2022, from 11:00 am &nbsp; → &nbsp; 17/04/2022, until 10:00 am</p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Guests :</strong>
    2 Adults, 1 Children </p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Arrival :</strong> 10:00 - 11:00</p>
    </div>
    
    <div class="col-md-4">
    <p class="checkout-details-services"><strong>Additional Services :</strong>
    Massage &#038; Spa </p>
    </div>
    
    <div class="col-md-4">
    <p><strong>Requests :</strong> zsedfgh</p>
    </div>
    
    <div class="col-md-4">
    <p>
    <strong>
    Total Price :</strong>
    <span class="price-currency">€</span><span class="price-amount">148</span>
    </p>
    </div>
    
    </div>
    </div>
    <div class="checkout-payment-tabs">
    <h4 class="title">Payment</h4>
    <ul class="payment-tabs">
    <li class="payment-tab-item">
    <a href="#eagle_booking_checkout_payment_stripe_tab">
    <i class="fa fa-credit-card" aria-hidden="true"></i>Credit Card </a>
    </ul>
    <div class="payment-tabs-content">
    <div id="eagle_booking_checkout_payment_stripe_tab">
    <p class="checkout-mssg">Pay with your Credit Card by using Stripe
    Sandbox Account for test purpose:
    <br>
    Card Number: 4242424242424242
    <br>
    Expiry Month: 05<br>
    Expiry Year: 22<br>
    CVC: 555<br>
    ZIP: 55555<br></p>
    
    <form action="https://demo.zantetheme.com/checkout/" method="POST" id="payment-form">
    <div class="form-row">
    <div id="card-element"></div>
    <div id="card-errors" role="alert"></div>
    </div>
    <input type="hidden" name="eagle_booking_payment_method" value="stripe">
    <input type="hidden" name="eagle_booking_checkout_form_date_from" value="04/16/2022">
    <input type="hidden" name="eagle_booking_checkout_form_date_to" value="04/17/2022">
    <input type="hidden" name="eagle_booking_checkout_form_guests" value="2">
    <input type="hidden" name="eagle_booking_checkout_form_adults" value="2">
    <input type="hidden" name="eagle_booking_checkout_form_children" value="1">
    <input type="hidden" name="eb_room_price" value="100">
    <input type="hidden" name="eagle_booking_checkout_form_final_price" value="148">
    <input type="hidden" name="eagle_booking_deposit_amount" value="148">
    <input type="hidden" name="eagle_booking_room_id" value="935">
    <input type="hidden" name="eagle_booking_room_title" value="Single Room">
    <input type="hidden" name="eagle_booking_checkout_form_name" value="sami">
    <input type="hidden" name="eagle_booking_checkout_form_surname" value="aloui">
    <input type="hidden" name="eagle_booking_checkout_form_email" value="saami.aloui@gmail.com">
    <input type="hidden" name="eagle_booking_checkout_form_phone" value="+21624760337">
    <input type="hidden" name="eagle_booking_checkout_form_address" value="cité wahat tunis 45 rue khaled ibn elwalid">
    <input type="hidden" name="eagle_booking_checkout_form_city" value="tunis">
    <input type="hidden" name="eagle_booking_checkout_form_country" value="Tunisie">
    <input type="hidden" name="eagle_booking_checkout_form_zip" value="2045">
    <input type="hidden" name="eagle_booking_checkout_form_requets" value="zsedfgh">
    <input type="hidden" name="eagle_booking_checkout_form_arrival" value="10:00 - 11:00">
    <input type="hidden" name="eagle_booking_form_services" value="972,">
    <input type="hidden" name="eagle_booking_form_coupon" value="ZANTE20OFF">
    <input type="hidden" name="eagle_booking_form_action_type" value="stripe">
    <input type="hidden" name="eagle_booking_form_payment_status" value="Pending Payment">
    <button  class="btn btn-success" routerLink="/facture" type="submit">Checkout Now</button> <!-- id="card-button"    data-secret="pi_3KmqDcJqaTXW5XYi1n57JURv_secret_WWBHWJg6Rcie2l6MsnPAskSIX" -->
    </form>
    </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    
    </div>
    
    </div>
    </div>
    </main>
   
    
    </div>
    