<div data-vc-full-width="true" style="margin-top: 100px; padding: 5%" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
    <div class="wpb_wrapper"> 
    <div class="main_title  text-left  ">
        <h2 class="title">La médina et ses souks, </h2>
    <p class="main_description">la Kasbah ou Fort d'Hammamet et café Sidi Bouhdid</p>

</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>
    La médina d'Hammamet est judicieusement préservée, ces murailles sont encore intactes. La médina regorge de belles maisons, style arabe, ces ruelles étroites serpentent jusqu'au Souk avec ces petites boutiques de souvenirs.
    Au nord de la vieille cité, se trouve le fort ou le kasbah datant du XVe siècle est encore bien conservé. A l’époque, il protégeait la ville des assauts étrangers. Il fait directement face à la mer. En montant ses impressionnants remparts, des panoramas spectaculaires sur les alentours vous surprendront, donc à visiter absolument.
    Au sud ouest, au pied du fort d’Hammamet on trouve le café Sidi Bouhdid un endroit splendide avec une tres belle vue sur le golfe de Hammamet ou vous pouvez déguster un thé à la menthe et profité d'un mangifique coucher du soleil..</p>
</div>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="image-3d-effect">
<div class="side left"></div>
<div class="side right"></div>
<div class="images">
<div class="front-image" style="background-image: url(/assets/images/medina.jpg)"></div>
<div class="back-image" style="background-image: url(/assets/images/medina.jpg)"></div>
</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">