<div class="wrapper" >
  
    <div class="top_menu " style="background-color: lightcyan;">
    <div class="container">
    <div class="welcome_mssg hidden-xs">
    Bienvenu à Hotel Zodiac </div>
    <ul class="top_menu_right">
    <li class=""><i class="fa fa-phone"></i><a href="tel:12312345678 "> +21624760337 </a></li>
    <li class="email "><i class="fa fa-envelope-o "></i> <a href="/cdn-cgi/l/email-protection#e4878b8a90858790a48c8b9081889e858a9081ca878b89"><span class="__cf_email__" data-cfemail="f2919d9c86939186b29a9d86979e88939c8697dc919d9f">saami.aloui@gmail.com</span></a></li>
     
    </ul>
    </div>
    </div>

    <header class="fixed " *ngIf="type!= 'admin'">
        <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle mobile_menu_btn" data-toggle="collapse" data-target=".mobile_menu" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand light" href="/">
        <img src="assets/images/logo.PNG" >
        </a>
        <a class="navbar-brand dark nodisplay" href="/">
        <img src="assets/images/logo.PNG" height="32" style="height: 32px" alt="Hotel Zodiac">
        </a> </div>
        <nav id="main_menu" class="mobile_menu navbar-collapse">
        <ul id="menu-main-menu" class="nav navbar-nav"><li class="mobile_menu_title" style="display:none;">Menu</li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="/">Acceuil</a></li>

        <button class="btn btn-success"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2052" class="menu-item menu-item-type-post_type_archive menu-item-object-eagle_rooms menu-item-has-children menu-item-2052 dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" style="color: white;">Vous étes: <span class="arrow mobile-dropdown-toggle"></span></a>
            <ul role="menu" class="dropdown-menu">
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1911" class="menu-item menu-item-type-post_type_archive menu-item-object-eagle_rooms menu-item-1911"><a routerLink="/rooms2">Client</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2114" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-2114"><a href="/gestion/hotel">Administrateur</a></li>
            </ul>
            </li></button>
       <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2052" class="menu-item menu-item-type-post_type_archive menu-item-object-eagle_rooms menu-item-has-children menu-item-2052 dropdown"><a href="https://demo.zantetheme.com/rooms/" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Chambres <span class="arrow mobile-dropdown-toggle"></span></a>
        <ul role="menu" class="dropdown-menu">
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1911" class="menu-item menu-item-type-post_type_archive menu-item-object-eagle_rooms menu-item-1911"><a href="/rooms">Liste Chambres</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2114" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-2114"><a href="/chambre-simple">Détails de chambres &#8211; Simple</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1372" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-1372"><a href="/chambre-double">Détails de chambres &#8211; Double</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2115" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-2115"><a href="/chambre-tripple">Détails de chambres &#8211; Tripple</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1372" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-1372"><a href="/chambre-quadruple">Détails de chambres &#8211; Quadruple</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2115" class="menu-item menu-item-type-post_type menu-item-object-eagle_rooms menu-item-2115"><a href="/chambre-quintuple">Détails de chambres &#8211; Quintuple</a></li>
    </ul>
        </li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-80 dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Services <span class="arrow mobile-dropdown-toggle"></span></a>
        <ul role="menu" class="dropdown-menu">
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="https://demo.zantetheme.com/location/">Localisation</a></li>
      
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="https://demo.zantetheme.com/places/">Places</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-2024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2024"><a href="https://demo.zantetheme.com/services/">Services</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1137"><a href="https://demo.zantetheme.com/restaurant/">Restaurant</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1165"><a href="https://demo.zantetheme.com/spa/">Spa</a></li>
        </ul>
        </li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="https://demo.zantetheme.com/blog/">Blog</a></li>
        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="#">Contacter Nous</a></li>
        <!--<li class="menu_button"><a href="rooms2" class="btn btn-success" target="_self"><i class="fa fa-calendar"></i>RESERVE ONLINE</a></li>--></ul>
        </nav>

       
        </div>
        </header>
        <header class="fixed " *ngIf="type== 'admin'">
            <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle mobile_menu_btn" data-toggle="collapse" data-target=".mobile_menu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand light" href="/chambres">
            <img src="assets/images/logo.PNG" >
            </a>
            <a class="navbar-brand dark nodisplay" href="/">
            <img src="assets/images/logo.PNG" height="32" style="height: 32px" alt="Hotel Zodiac">
            </a> </div>
        <nav id="main_menu" class="mobile_menu navbar-collapse" >
            <ul id="menu-main-menu" class="nav navbar-nav"><li class="mobile_menu_title" style="display:none;">Menu</li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="/">Acceuil</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a routerLink="/chambres">Chambres</a></li>
            
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="">Réservations</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a routerLink="/serviceAdmin">Services</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a routerLink="/blogeurs">Blogeurs</a></li>
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a routerLink="/admin-gestion">Administrateurs</a></li>
          <li class="menu_button"> <button (click)="deconnexion()"><a href="/" class="btn btn-success" target="_self"><i class="fa fa-user"></i>Déconnexion</a></button></li></ul>
            </nav>
            </div>
            </header>
    
    <router-outlet></router-outlet>
  
    <footer style="background-color: lightcyan;">
    <div class="inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div id="recent-posts-3" class="clearfix widget f-widget widget_recent_entries" >
        <h3>Hotel Zodiac</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div> </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div id="recent-posts-3" class="clearfix widget f-widget widget_recent_entries">
    <h3>DERNIÈRES NOUVELLES</h3>
    <ul>
    <li>
    <a href="https://demo.zantetheme.com/hotel-zante-in-pictures/">Hôtel Zodiac en images</a>
    </li>
    <li>
    <a href="https://demo.zantetheme.com/10-things-you-should-know/">10 choses que vous devez savoir</a>
    </li>
    <li>
    <a href="https://demo.zantetheme.com/hotel-zante-weddings/">Hôtel Zodiac Mariages</a>
    </li>
    <li>
    <a href="https://demo.zantetheme.com/live-your-myth-in-greece/">Vivez votre mythe en Grèce</a>
    </li>
    <li>
    <a href="https://demo.zantetheme.com/post-without-feuatured-image/">Publier sans image vedette</a>
    </li>
    </ul>
    </div> </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div id="nav_menu-2" class="clearfix widget f-widget widget_nav_menu"><h3>LIENS UTILES</h3><div class="menu-footer-menu-container"><ul id="menu-footer-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="https://demo.zantetheme.com/location/">Localisation</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="https://demo.zantetheme.com/gallery/">Galerie</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://demo.zantetheme.com/contact-us/">Contacter Nous</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="https://demo.zantetheme.com/about-us/">À propos de nous</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2071"><a href="https://demo.zantetheme.com/account/">Mes réservations</a></li>
    </ul></div></div> </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div id="zante_contact_footer_widget-2" class="clearfix widget f-widget widget_zante_contact_footer_widget"><h3>CONTACTER NOUS</h3>
    <address>
    <ul class="address_details">
    <li>
    <i class="las la-map-marker-alt"></i> 25, Navagio Zakynthos, Greece </li>
    <li>
    <i class="las la-phone"></i> Téléphone: +21627452120 </li>
    <li>
    <i class="las la-envelope"></i> Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="04676b6a70656770446c6b7061687e656a70612a676b69">[email&#160;protectée]</a> </li>
    </ul>
    </address>
    <div class="social-media">
    <a href="https://www.facebook.com/eaglethemescom/" target="_self" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" target="_self" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" target="_self" class="pinterest"><i class="fa fa-youtube"></i></a>
    <a href="#" target="_self" class="pinterest"><i class="fa fa-pinterest"></i></a>
    <a href="#" target="_self" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" target="_self" class="tripadvisor"><i class="fa fa-tripadvisor"></i></a>
    </div>
    </div> </div>
    </div>
    </div>
    </div>
    <div class="subfooter">
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-push-6">
    <div class="pull-right m-center">
    <div class="social_media">
    </div>
    
    <div class="footer-language-switcher">
    
    
    <span class="selected-language">
    <i class="las la-globe"></i>
    Francais
    </span>
    <div class="language-switcher">
    <div class="language-switcher-title">
    Languages </div>
    <div class="lang-items">
    <div class="lang-item ">
    <a href="https://demo.zantetheme.com/it/">
    Italiano </a>
    </div>
    <div class="lang-item ">
    <a href="https://demo.zantetheme.com/es/">
    Español </a>
    </div>
    <div class="lang-item active">
    <a href="https://demo.zantetheme.com">
    English </a>
    </div>
    <div class="lang-item ">
    <a href="https://demo.zantetheme.com/de/">
    Deutsch </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
    <div class="copyrights">
    &copy; 2022 Hôtel Zodiac. Conçu par <a href="https://eagle-themes.com/" target="_blank">Eagle-Thèmes</a> </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
    
  

    
    
    
    </div>