
    <main class="no-padding">
    <div class="container"  *ngIf="type!= 'admin'">
    <div class="row">
    
    
    <div class="col-md-12 entry">
    
      <li style="background-image: url(assets/images/headers.jpg); width: 100%; height: 100%;">
        <div class="overlay-gradient"></div>
        <div class="container">
            <div class="col-md-12 col-md-offset-0 text-center slider-text">
                <div class="slider-text-inner js-fullheight">
                    <div class="desc" >
                        <p><span style="color: white;">Hôtel Zodiac Hammamet</span></p>
                        <h2 style="color: white;">Réserver une chambre pour des vacances en famille</h2>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <div class="vc_row wpb_row vc_row-fluid" style="margin-top: 120px;">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="hbf half-over-slider">
    <div class="inner">

        <div id="booking" > 
            <div class="section-center">
             <div class="container">
                  <div class="row"> 
                 <div > 
                         <form>
                             <div class="row"> 
                                <div class="col-md-2">
                                       <div class="form-group">
                                        <span class="form-label">Arrivée</span>
                                         <input class="form-control" type="date" required #arrive>
                                         
                                       </div> 
                                </div> 
                                 <div class="col-md-2">
                                         <div class="form-group">
                                            <span class="form-label">Départ</span>
                                              <input class="form-control" type="date" required #depart>
                                               
                                         </div>
                                </div>
                             
                               <div class="col-md-2">
                                   <div class="form-group"> 
                                    <span class="form-label">Adultes</span> 
                                    <select class="form-control"  (change)="selectAdult($event)">
                                        <option value="1">1</option>
                                         <option value="2">2</option>
                                          <option value="3">3</option>
                                         </select>
                                              <span class="select-arrow">
                                              </span>
                                               
                                     </div> 
                                </div> 
                                <div class="col-md-2">
                                             <div class="form-group">
                                                <span class="form-label">Enfants</span> 
                                                  <select class="form-control"  (change)="selectEnfant($event)">
                                                        <option value="0">0</option>
                                                         <option value="1">1</option>
                                                          <option value="2">2</option>
                                                         </select>
                                                          <span class="select-arrow"></span>
                                                           
                                             </div>
                                </div> 
                               <div class="col-md-4">  
                                <span style="color: transparent;">Départ</span>         
                                <div class="form-btn"> 
                                   
                                                         <button class="btn btn-success" (click)="SauvInvite(arrive,depart)">Voir les disponibilités</button>
                                </div> 
                                </div>
                            </div>
                                </form> 
                </div> </div> </div> </div></div>

    <!--<form id="search-form" class="search-form"  method="get" target="">
    <div class="row">
     <div class="col-md-4">
    <label for="eagle_booking_datepicker">Arrivée/Départ</label>
    <input id="eagle_booking_datepicker" type="text" class="form-control eagle-booking-datepicker" placeholder="Arrivée &nbsp;&nbsp;→&nbsp;&nbsp; Départ" value="" autocomplete="off" readonly>
    <input id="eagle_booking_checkin" type="hidden" name="eb_checkin" #arrive>
    <input id="eagle_booking_checkout" type="hidden" name="eb_checkout" #depart>
    </div>
    <div class="col-md-4">
    <label for="eagle_booking_guests">Invitées</label>
    <div class="eb-guestspicker">
    <div class="form-control guestspicker">
        Invitées <span class="gueststotal" #total ></span>
    </div>
    <div class="eb-guestspicker-content">
    <div class="guests-buttons">
    <div class="description">
    <label>Adultes</label>
    <div class="ages">Age 18+ </div>
    </div>
    <div class="guests-button">
    <div class="minus"></div>
    <input type="text" id="eagle_booking_adults" name="eb_adults" class="booking-guests"  value="1" min="1"  max="2">
    <div class="plus"></div>
    </div>
    </div>
    <div class="guests-buttons">
    <div class="description">
    <label>Enfants</label>
    <div class="ages">Age 4 - 18</div>
    </div>
    <div class="guests-button">
    <div class="minus"></div>
    <input type="text" id="eagle_booking_children" name="eb_children" class="booking-guests"  value="0" min="0" max="1">
    <div class="plus"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <button  class="button eb-btn" type="submit" (click)="SauvInvite(total,arrive,depart)">
    <span class="eb-btn-text">Voir les disponibilités</span>
    </button>
    </div>
    </div>
    </form>-->
    </div>
    </div>
    </div></div></div></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner">
        <div class="wpb_wrapper"> 
        <div class="main_title  text-left  ">
    <h2 class="title">HOTEL Zodiac Hammamet</h2>
    <p class="main_description">Services d'hébergement de haute qualité</p>
    </div>
    <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
    <p>HOTEL ZODIAC HAMMAMET est un hôtel 4 étoiles à Yasmine Hammamet Tunisie  Situé à 11 minutes à pied du parc d'attractions Carthage Land, cet hôtel à l'atmosphère décontractée se trouve à 5 minutes de la plage la plus proche et à 9 km du parcours 18 trous du Golf 
        Citrus.
        
        Les chambres sobres et colorées sont dotées de la télévision par satellite. Des chambres familiales sont proposées. Les suites bénéficient d'une salle de séjour séparée.
        
        Le petit-déjeuner gratuit est servi dans un bar-restaurant lumineux et convivial. L'établissement possède en plus une piscine extérieure, une piscine intérieure chauffée et une piscine pour enfants. Un spa, une salle de sport et 2 courts de tennis sont proposés. Des animations sont régulièrement organisées.</p>
    </div>
    </div>
    
    <div id="btn-container-mOGxt" class="text-left">
    <a href="/hotelInfo" id="btn-mOGxt" class="btn " target="_self">
        Plus de détails <i class="fa fa-chevron-right"></i>
    </a>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
    <div class="image-3d-effect">
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="images">
    <div class="front-image" style="background-image: url(/assets/images/HOTEL.jpg)"></div>
    <div class="back-image" style="background-image: url(/assets/images/photoHotel.jpg)"></div>
    </div>
    </div>
    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">
    <h2 class="title">NOS CHAMBRES FAVOREES</h2>
    <p class="main_description">Découvrez maintenant nos meilleures chambres</p>
    </div>
    <div class="eb-rooms-grid">
    <div class="first-col">
    <div class="room-item ">
    <figure class="room-image gradient-overlay overlay-opacity-02 slide-right-hover">
    <div class="room-price"><span class="normal-price"><strong><span class="price-currency">$</span><span class="price-amount">{{chamb1.PrixNuit}}</span></strong></span><span class="per-night-text"> / nuit</span></div> <a  (click)="SauvChambre1(chamb1.ChambreId,chamb1.PrixNuit,chamb1.TypeChamb)">
    <img src="/assets/images/chambres/{{chamb1.Photo}}" alt="Deluxe Room">
    </a>
    </figure>
    <div class="room-details">
    <h3 class="room-title">
    <a (click)="SauvChambre1(chamb1.ChambreId,chamb1.PrixNuit,chamb1.TypeChamb)">{{chamb1.TypeChamb}}</a>
    </h3>
    <div class="room-services">
    <div class="dragscroll">
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Wi-Fi Included" data-original-title="Wi-Fi">
    <i class="fa fa-wifi"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Hair Dryer Included" data-original-title="Hair Dryer">
    <i class="fa fa-female"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Sauna Included" data-original-title="Sauna">
    <i class="fa fa-bath"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast">
    <i class="fa fa-cutlery"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Coffee Maker Included" data-original-title="Coffee Maker">
    <i class="fa fa-coffee"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Mini Bar Included" data-original-title="Mini Bar">
    <i class="fa fa-glass"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free-to-use Smartphone" data-original-title="Free-to-use Smartphone">
    <i class="fa fa-mobile"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Widescreen TV Included" data-original-title="Widescreen TV">
    <i class="fa fa-television"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Air Conditioner Included" data-original-title="Air Conditioner">
    <i class="fa fa-snowflake-o"></i>
    </div>
    </div>
    </div>
    </div>
    </div></div>
    <div class="second-col">
    <div class="room-item small-item">
    <figure class="room-image gradient-overlay overlay-opacity-02 slide-right-hover">
    <div class="room-price"><span class="normal-price"><strong><span class="price-currency">$</span><span class="price-amount">{{chamb2.PrixNuit}}</span></strong></span><span class="per-night-text"> / nuit</span></div> <a (click)="SauvChambre2(chamb2.ChambreId,chamb2.PrixNuit,chamb2.TypeChamb)">
    <img src="/assets/images/chambres/{{chamb2.Photo}}" alt="Single Room">
    </a>
    </figure>
    <div class="room-details">
    <h3 class="room-title">
    <a (click)="SauvChambre2(chamb2.ChambreId,chamb2.PrixNuit,chamb2.TypeChamb)">{{chamb2.TypeChamb}}</a>
    </h3>
    <div class="room-services">
    <div class="dragscroll">
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Wi-Fi Included" data-original-title="Wi-Fi">
    <i class="fa fa-wifi"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Private Balcony Included" data-original-title="Private Balcony">
    <i class="fa fa-eye-slash"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Sauna Included" data-original-title="Sauna">
    <i class="fa fa-bath"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast">
    <i class="fa fa-cutlery"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Hair Dryer Included" data-original-title="Hair Dryer">
    <i class="fa fa-female"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Coffee Maker Included" data-original-title="Coffee Maker">
    <i class="fa fa-coffee"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Widescreen TV Included" data-original-title="Widescreen TV">
    <i class="fa fa-television"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Air Conditioner Included" data-original-title="Air Conditioner">
    <i class="fa fa-snowflake-o"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Mini Bar Included" data-original-title="Mini Bar">
    <i class="fa fa-glass"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="room-item small-item">
    <figure class="room-image gradient-overlay overlay-opacity-02 slide-right-hover">
    <div class="room-price"><span class="normal-price"><strong><span class="price-currency">$</span><span class="price-amount">{{chamb3.PrixNuit}}</span></strong></span><span class="per-night-text"> / nuit</span></div> <a (click)="SauvChambre3(chamb3.ChambreId,chamb3.PrixNuit,chamb3.TypeChamb)">
    <img src="/assets/images/chambres/{{chamb3.Photo}}" alt="Family Room">
    </a>
    </figure>
    <div class="room-details">
    <h3 class="room-title">
    <a (click)="SauvChambre3(chamb3.ChambreId,chamb3.PrixNuit,chamb3.TypeChamb)">{{chamb3.TypeChamb}}</a>
    </h3>
    <div class="room-services">
    <div class="dragscroll">
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast">
    <i class="fa fa-cutlery"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Coffee Maker Included" data-original-title="Coffee Maker">
    <i class="fa fa-coffee"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Widescreen TV Included" data-original-title="Widescreen TV">
    <i class="fa fa-television"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Hair Dryer Included" data-original-title="Hair Dryer">
    <i class="fa fa-female"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Air Conditioner Included" data-original-title="Air Conditioner">
    <i class="fa fa-snowflake-o"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Sauna Included" data-original-title="Sauna">
    <i class="fa fa-bath"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free-to-use Smartphone" data-original-title="Free-to-use Smartphone">
    <i class="fa fa-mobile"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="room-item small-item">
    <figure class="room-image gradient-overlay overlay-opacity-02 slide-right-hover">
    <div class="room-price"><span class="normal-price"><strong><span class="price-currency">$</span><span class="price-amount">{{chamb4.PrixNuit}}</span></strong></span><span class="per-night-text"> / nuit</span></div> <a (click)="SauvChambre4(chamb4.ChambreId,chamb4.PrixNuit,chamb4.TypeChamb)">
    <img src="/assets/images/chambres/{{chamb4.Photo}}" alt="King Room">
    </a>
    </figure>
    <div class="room-details">
    <h3 class="room-title">
    <a (click)="SauvChambre4(chamb4.ChambreId,chamb4.PrixNuit,chamb4.TypeChamb)">{{chamb4.TypeChamb}}</a>
    </h3>
    <div class="room-services">
    <div class="dragscroll">
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Sauna Included" data-original-title="Sauna">
    <i class="fa fa-bath"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast">
    <i class="fa fa-cutlery"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Hair Dryer Included" data-original-title="Hair Dryer">
    <i class="fa fa-female"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Coffee Maker Included" data-original-title="Coffee Maker">
    <i class="fa fa-coffee"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Widescreen TV Included" data-original-title="Widescreen TV">
    <i class="fa fa-television"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Air Conditioner Included" data-original-title="Air Conditioner">
    <i class="fa fa-snowflake-o"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Private Balcony Included" data-original-title="Private Balcony">
    <i class="fa fa-eye-slash"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Wi-Fi Included" data-original-title="Wi-Fi">
    <i class="fa fa-wifi"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Mini Bar Included" data-original-title="Mini Bar">
    <i class="fa fa-glass"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free-to-use Smartphone" data-original-title="Free-to-use Smartphone">
    <i class="fa fa-mobile"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="room-item small-item">
    <figure class="room-image gradient-overlay overlay-opacity-02 slide-right-hover">
    <div class="room-price"><span class="normal-price"><strong><span class="price-currency">$</span><span class="price-amount">{{chamb5.PrixNuit}}</span></strong></span><span class="per-night-text"> / nuit</span></div> <a (click)="SauvChambre5(chamb5.ChambreId,chamb5.PrixNuit,chamb5.TypeChamb)">
    <img src="/assets/images/chambres/{{chamb5.Photo}}" alt="Honeymoon Room">
    </a>
    </figure>
    <div class="room-details">
    <h3 class="room-title">
    <a (click)="SauvChambre5(chamb5.ChambreId,chamb5.PrixNuit,chamb5.TypeChamb)">{{chamb5.TypeChamb}}</a>
    </h3>
    <div class="room-services">
    <div class="dragscroll">
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Hair Dryer Included" data-original-title="Hair Dryer">
    <i class="fa fa-female"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Coffee Maker Included" data-original-title="Coffee Maker">
    <i class="fa fa-coffee"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Widescreen TV Included" data-original-title="Widescreen TV">
    <i class="fa fa-television"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Air Conditioner Included" data-original-title="Air Conditioner">
    <i class="fa fa-snowflake-o"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast">
    <i class="fa fa-cutlery"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Wi-Fi Included" data-original-title="Wi-Fi">
    <i class="fa fa-wifi"></i>
    </div>
    <div class="room-service-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free-to-use Smartphone" data-original-title="Free-to-use Smartphone">
    <i class="fa fa-mobile"></i>
    </div>
    </div>
    </div>
    </div>
    </div></div>
    </div>
    <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
    
    <div id="btn-container-U9Ncj" class="text-center">
    <a routerLink="/rooms" id="btn-U9Ncj" class="btn " target="_self">
        voir toutes les chambres <i class="fa fa fa-chevron-right"></i>
    </a>
    </div>
    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531841302974 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">
    <h2 class="title">NOS SERVICES IMPRESSIONNANTS</h2>
    <p class="main_description">Découvrez nos super services</p>
    </div>
    
    
    <div class="features">
    <div class="row">
    <div class="col-md-7">
    <div data-slider-id="features-WUEzO" id="features-slider-WUEzO" >
    <div class="gradient-overlay overlay-opacity-02"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/04/restaurant.jpg" class="img-responsive" alt="Restaurant"></div>
    </div>
    </div>
    
    <div class="col-md-5">
    <div class="owl-thumbs" data-slider-id="features-WUEzO" ngFor="let item of ServiceList">
    
    <div class="owl-thumb-item">
    <span class="media-left"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/plate.png" alt="Restaurant"></span>
    <div class="media-body">
    <h3>Restaurant</h3>
    <p>Bon restaurant avec une grande variété des plats au buffet. Proche de plusieurs restaurants…</p>
    </div>
    </div>
    
    <div class="owl-thumb-item">
    <span class="media-left"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/spa.png" alt="Spa - Beauty &amp; Health"></span>
    <div class="media-body">
    <h3>Spa - Beauté &amp; Santé</h3>
    <p>il se doit obligatoirement de proposer des soins et non de disposer uniquement d’une piscine, sauna, hammam. On distinguera : Les soins « secs » : soins esthétiques, massages/modelages, manucure, coiffure…</p>
    </div>
    </div>
    
    <div class="owl-thumb-item">
    <span class="media-left"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/conference.png" alt="Conference Room"></span>
    <div class="media-body">
    <h3>Salle de conférence</h3>
    <p>	Une salle polyvalente d'une capacité de 750 personnes, spécialement conçue pour accueillir vos séminaires, conférences, formations, mariages.</p>
    </div>
    </div>
    
    <div class="owl-thumb-item">
    <span class="media-left"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/05/swimmer.png" alt="Swimming Pool"></span>
    <div class="media-body">
    <h3>Piscine</h3>
    <p>Les piscines sont incroyables, il y a toujours plein de transats autour de toutes les piscines, le parc aquatique est génial pour tous les âges.</p>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>

    <br> <br>
    <div style="margin-top: 20px;" >
        <iframe class="popup-vimeo" style="width:100%; height: 500px;" src="https://www.youtube.com/embed/W3bPKkr3Rho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <br> <br>
    <div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531734543892"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">
    <h2 class="title">DÉCOUVRIR HAMMAMET</h2>
    <p class="main_description">Les endroits à explorer cet été</p>
    </div>
    <div class="row">
    <div class="col-md-6 first-place">
    <div class="place-item">
    <figure class="gradient-overlay zoom-hover">
    <a href="/medina">
    <img src="/assets/images/medina.jpg" height="100%" width="100%" class="img-responsive" alt="Navagio">
    <h3 class="place-title">La médina et ses souks</h3>
    </a>
    </figure>
    </div>
    </div>
    <div class="col-md-6 second-place">
    <div class="place-item">
    <figure class="gradient-overlay zoom-hover">
    <a href="/yasmin-Hammamet">
    <img src="/assets/images/yasminHammamet.jpg" height="100%" width="100%" class="img-responsive" alt="Zakynthos">
    <h3 class="place-title">Yasmine Hammamet</h3>
    </a>
    </figure>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="row">
    <div class="col-md-6 third-place">
    <div class="place-item">
    <figure class="gradient-overlay zoom-hover">
    <a href="/zoo">
    <img src="/assets/images/zoo.jpg" height="100%" width="100%" class="img-responsive" alt="Santorini">
    <h3 class="place-title">Nature et animaux : Friguia Park</h3>
    </a>
    </figure>
    </div>
    </div>
    <div class="col-md-6 fourth-place">
    <div class="place-item">
    <figure class="gradient-overlay zoom-hover">
    <a href="/carthage-land">
    <img src="/assets/images/cartagheLand.jpg" height="100%" width="100%" class="img-responsive" alt="Acropolis">
    <h3 class="place-title">Les parcs d'attraction : Carthage Land</h3>
    </a>
    </figure>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
    
   
    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531644590382 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-left  ">
    
        <h2 class="title">NOS CLIENTS NOUS AIMENT</h2>
    <p class="main_description">Ce que nos clients disent de nous</p>
    </div>
    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
    
    <div id="btn-container-Ig4jB" class="text-right">
    <a routerLink="/avis" id="btn-Ig4jB" class="btn " target="_self">
        voir tous les avis <i class="fa fa fa-chevron-right"></i>
    </a>
    </div>
    </div></div></div></div>
    <div class="row flex-row">
    
    <div class="col-lg-4 col-sm-6 ">
    <div class="testimonial-item">
    <div class="review">
    <h3>Nice Place</h3>
    <div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </div>
    <p>Emplacement fantastique dans un monastère historique rénové au cœur du Castro. Le personnel était serviable et compétent et tout était facilement accessible à pied.
    </p>
    </div>
    <div class="author">
    <img src="/assets/images/blogeurs/blogeur1220438325.jpg" alt="Ina Aldrich" height="100" width="70">
    <div class="author-info">
    <h5>Tomas Roberto</h5>
    <span class="author-loacation">Suisse, Zurich</span>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 ">
    <div class="testimonial-item">
    <div class="review">
    <h3>Parfait</h3>
    <div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
    <p>Le propriétaire et le personnel étaient extrêmement serviables et gentils et ont pris le temps de s'assurer que nous avions des informations supplémentaires sur les choses à faire dans la région et les endroits à visiter.</p>
    </div>
    <div class="author">
    <img src="/assets/images/blogeurs/blogeur3220912758.jpg" alt="John Doe" height="100" width="70">
    <div class="author-info">
    <h5>Toumi Siwara</h5>
    <span class="author-loacation">Algeria, Anneb</span>
     </div>
    </div>
    </div>
    </div>
    
    <div class="col-lg-4 col-sm-6 ">
    <div class="testimonial-item">
    <div class="review">
    <h3>Bon choix</h3>
    <div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> </div>
    <p>Environnement extrêmement agréable, la chambre était super, le service était génial, vraiment serviable et excellent service I&#039;ll  Je les visiterai à nouveau dans un proche avenir.</p>
    </div>
    <div class="author">
    <img src="/assets/images/blogeurs/foto-de-pr222433510.jpg" height="100" width="80" >
    <div class="author-info">
    <h5>Sami Aloui</h5>
    <span class="author-loacation">Tunisia, Mednine</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1531733939823"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">
    <h2 class="title">DERNIÈRES NOUVELLES &amp; ÉVÉNEMENTS</h2>
    <p class="main_description">Découvrez nos dernières actualités &amp; événements</p>
    </div>
    <div class="latest-posts-grid">
    <div class="row grid-row">
    
    <div class="col-md-4 col-sm-4">
    <article class="news-grid-item">
    <figure class="gradient-overlay slide-right-hover">
    <a href="https://demo.zantetheme.com/hotel-zante-in-pictures/"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/06/zante-in-pictures-720x520.jpg" class="img-responsive" alt="Hotel Zante in pictures"></a>
    </figure>
    <div class="details">
    <h3><a href="https://demo.zantetheme.com/hotel-zante-in-pictures/">Hôtel Zodiac en images</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
    
    <div class="info">
    <a href="https://demo.zantetheme.com/author/">
    <img class="author-avatar" src="https://secure.gravatar.com/avatar/4bb7ecf65c4865cc500764daefa121ba?s=13&#038;d=mm&#038;r=g" alt="admin">admin </a>
    <i class="las la-clock"></i><a href="https://demo.zantetheme.com/2022/04/09/">Juin 17, 2018</a>
    <i class="las la-comments"></i><a href="https://demo.zantetheme.com/hotel-zante-in-pictures/">0 Commentaire</a>
    </div>
    </div>
    </article>
    </div>
    
    <div class="col-md-4 col-sm-4">
    <article class="news-grid-item">
     <figure class="gradient-overlay slide-right-hover">
    <a href="https://demo.zantetheme.com/10-things-you-should-know/"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/02/blog_post5-720x520.jpg" class="img-responsive" alt="10 Things You Should Know"></a>
    </figure>
    <div class="details">
    <h3><a href="https://demo.zantetheme.com/10-things-you-should-know/">10 choses que vous devez savoir</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
    
    <div class="info">
    <a href="https://demo.zantetheme.com/author/">
    <img class="author-avatar" src="https://secure.gravatar.com/avatar/4bb7ecf65c4865cc500764daefa121ba?s=13&#038;d=mm&#038;r=g" alt="admin">admin </a>
    <i class="las la-clock"></i><a href="https://demo.zantetheme.com/2022/04/09/">Février 17, 2018</a>
    <i class="las la-comments"></i><a href="https://demo.zantetheme.com/10-things-you-should-know/">1 Commentaire</a>
    </div>
    </div>
    </article>
    </div>
    
    <div class="col-md-4 col-sm-4">
    <article class="news-grid-item">
    <figure class="gradient-overlay slide-right-hover">
    <a href="https://demo.zantetheme.com/hotel-zante-weddings/"><img src="https://demo.zantetheme.com/wp-content/uploads/2018/02/blog_post4-720x520.jpg" class="img-responsive" alt="Hotel Zante Weddings"></a>
    </figure>
    <div class="details">
    <h3><a href="https://demo.zantetheme.com/hotel-zante-weddings/">Hotel Zante Weddings</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut...</p>
    
    <div class="info">
    <a href="https://demo.zantetheme.com/author/">
    <img class="author-avatar" src="https://secure.gravatar.com/avatar/4bb7ecf65c4865cc500764daefa121ba?s=13&#038;d=mm&#038;r=g" alt="admin">admin </a>
    <i class="las la-clock"></i><a href="https://demo.zantetheme.com/2022/04/09/">Février 17, 2018</a>
    <i class="las la-comments"></i><a href="https://demo.zantetheme.com/hotel-zante-weddings/">0 Commentaire</a>
    </div>
    </div>
    </article>
    </div>
    </div>
    </div>
    </div></div></div></div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    
    </div>
    
    </div>
    </div>
    </main>