<div data-vc-full-width="true" style="margin-top: 100px; padding: 5%" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
    <div class="wpb_wrapper"> 
    <div class="main_title  text-left  ">
        <h2 class="title">Les parc aquatique ou flipper :  </h2>
    <p class="main_description">Aquapark, AquaLand, Fun Water, et Dreamy Sea Waterpark</p>

</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>    
    Pandant les vacances d'été difficile d'y échapper et ne pas aller à l'un des parcs aquatiques à Hammamet qui séduisent petits et grands pour se divertir l'espace de quelques heures ou d'une journée complète tel que : Aquapark Flipper Hammamet, Fun Water Hammamet, et Dreamy Sea Waterpark à Hammamet Nord et AquaLand à Yasmine Hammamet..</p>
</div>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="image-3d-effect">
<div class="side left"></div>
<div class="side right"></div>
<div class="images">
<div class="front-image" style="background-image: url(/assets/images/cartagheLand.jpg)"></div>
<div class="back-image" style="background-image: url(/assets/images/cartagheLand.jpg)"></div>
</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">