<div data-vc-full-width="true" style="margin-top: 100px; padding: 5%" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
    <div class="wpb_wrapper"> 
    <div class="main_title  text-left  ">
        <h2 class="title">HOTEL Zodiac Hammamet 1992</h2>
    <p class="main_description">Services d'hébergement de haute qualité</p>

</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>HOTEL ZODIAC HAMMAMET est un hôtel 4 étoiles à Yasmine Hammamet Tunisie  Situé à 11 minutes à pied du parc d'attractions Carthage Land, cet hôtel à l'atmosphère décontractée se trouve à 5 minutes de la plage la plus proche et à 9 km du parcours 18 trous du Golf 
    Citrus.
    
    Les chambres sobres et colorées sont dotées de la télévision par satellite. Des chambres familiales sont proposées. Les suites bénéficient d'une salle de séjour séparée.
    
    Le petit-déjeuner gratuit est servi dans un bar-restaurant lumineux et convivial. L'établissement possède en plus une piscine extérieure, une piscine intérieure chauffée et une piscine pour enfants. Un spa, une salle de sport et 2 courts de tennis sont proposés. Des animations sont régulièrement organisées.</p>
</div>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="image-3d-effect">
<div class="side left"></div>
<div class="side right"></div>
<div class="images">
<div class="front-image" style="background-image: url(/assets/images/HOTEL.jpg)"></div>
<div class="back-image" style="background-image: url(/assets/images/photoHotel.jpg)"></div>
</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">