<div data-vc-full-width="true" style="margin-top: 100px; padding: 5%" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
    <div class="wpb_wrapper"> 
    <div class="main_title  text-left  ">
        <h2 class="title">Nature et animaux :</h2>
    <p class="main_description"> Friguia Park</p>

</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>Friguia Parc est un parc zoologique situé sur la côte méditerranéenne, près du golfe d'Hammamet, il couvre une superficie de 36 hectares et compte près de 400 animaux et 62 espèces dans de vastes enclos.
    Friguia Parc comprend notamment le seul delphinarium dans la Tunisie, il est à 30km du centre ville d'Hammamet.
    A Friguia vous goûtez au long de ses allées, les charmes d'une promenade dans la nature sauvage.Une forêt, de l'air pur et du calme.
    Voir de jolies allées avec indications détaillées sur chaque espèce.Aires de repos, Restaurants/Pizzeria, Kiosques et points de vente, Souvenirs shops..</p>
</div>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="image-3d-effect">
<div class="side left"></div>
<div class="side right"></div>
<div class="images">
<div class="front-image" style="background-image: url(/assets/images/zoo.jpg)"></div>
<div class="back-image" style="background-image: url(/assets/images/zoo.jpg)"></div>
</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">