
    <main>
        <div class="row">
            <div class="colm-form">
                <h3>Connexion</h3>
                <div class="form-container">
                <input type="text" placeholder="Adresse e-mail ou numéro de téléphone" #login>
                    <input type="password" placeholder="Mot de passe" #password>
                    <button class="btn-login" (click)="Connexion(login,password)"> <a href="/chambres" *ngIf="type== 'admin'" style="color: white;"></a>Connexion</button>
                    <a href="#">Mot de passe oublié ?</a>
                    <button class="btn-new">Créer un nouveau compte</button>
                </div>
            
            </div>
        </div>
</main>