<div data-vc-full-width="true" style="margin-top: 100px; padding: 5%" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1531848941252">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
    <div class="wpb_wrapper"> 
    <div class="main_title  text-left  ">
        <h2 class="title">Yasmine Hammamet : </h2>
    <p class="main_description">La Medina Méditerranea, La Marina, ces Restaurants et ces parcs d'attraction</p>

</div>
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>    
Yasmine Hammamet est une nouvelle station balnéaire au sud d'Hammamet : La se trouve le fameux complexe moderne de "la médina Méditerranea", superbe reconstitution d'une ville arabe traditionnelle. Elle abrite derrière ses remparts des souks, des restaurants, l'hôtel Diar Lemdina, un centre de congrès de 1 600 places et le parc à thème Carthage Land, le plus grand parc d'attraction d'Afrique du Nord, qui s'étend sur 5 hectares. Imaginé sur le thème de l'antique Carthage, " Carthage Land " propose des attractions et des animations diverses et variées pour petits et grands.
Port de Plaisance Tout près de Médina méditerranéa, la Marina de Yasmine Hammamet est un Port de Plaisance offre 2200m de quai et une profondeur allant jusqu’à 6m. Le port est bordé de commerces, restaurants, cafés, glaciers, services et boutiques..</p>
</div>
</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="image-3d-effect">
<div class="side left"></div>
<div class="side right"></div>
<div class="images">
<div class="front-image" style="background-image: url(/assets/images/yasminHammamet.jpg)"></div>
<div class="back-image" style="background-image: url(/assets/images/yasminHammamet.jpg)"></div>
</div>
</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid gray-bg vc_custom_1531849737322 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"> <div class="main_title  text-center  ">